<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Todo app</title>
</head>
<body>
    <main>
        <section>
            <header>
                <div class="logo">
                    <h1>TODO</h1>
                </div>
                <div class="theme-icon">
                    <img src="/images/icon-sun.svg" alt="">
                </div>
            </header>
            <form action="/" method="post" id="myForm">
                <div class="round">
                    <input type="checkbox"  id="checkbox">
                    <label for="checkbox"></label>
                    <input type="text" id="input" name="newItem" placeholder="Create a new todo">
                </div>
                
            </form>
            <article>
                <% for(var i=0;i<newTodos.length; i++) { %>
                    <li  class="round task">
                        <input type="checkbox"  id="checkbox<%= i %>">
                        <label for="checkbox<%= i %>"></label>
                        <p><%= newTodos[i] %></p> 
                        <button onclick="deleteTodo('<%= newTodos[i] %>')">
                            <img src="/images/icon-cross.svg" alt="">
                        </button>                        
                    </li>
                <%  };%> 
               
            </article>
            <footer>
                <p>Drag and drop to reorder list</p>
            </footer>
        </section>
    </main>
    <script src="/script/submit.js"></script>
    <script src="/script/delete.js"></script>
</body>
</html>