<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <header>
                <div class="logo">
                    <h1>TODO</h1>
                </div>
                <div class="theme-icon">
                    <img src="/images/icon-sun.svg" alt="">
                </div>
            </header>
            <form action="post">
                <div class="round">
                    <input type="checkbox"  id="checkbox">
                    <label for="checkbox"></label>
                    <input type="text" id="input" placeholder="Create a new todo">
                </div>
                
            </form>
            <article>
                <div class="round task">
                    <input type="checkbox"  id="checkbox2">
                    <label for="checkbox2"></label>
                    <p>complete online JavaScript course</p>
                </div>
                <div class="round task">
                    <input type="checkbox"  id="checkbox3">
                    <label for="checkbox3"></label>
                    <p>ten minutes meditation</p>
                </div>
                <div class="round task">
                    <input type="checkbox"  id="checkbox4">
                    <label for="checkbox4"></label>
                    <p>Jog around the park 3X</p>
                </div>
                <div class="round task">
                    <input type="checkbox"  id="checkbox5">
                    <label for="checkbox5"></label>
                    <p>read for one hour</p>
                </div>
                <div class="round task">
                    <input type="checkbox"  id="checkbox6">
                    <label for="checkbox6"></label>
                    <p>pick-up grocery </p>
                </div>
                <div class="round task">
                    <input type="checkbox"  id="checkbox7">
                    <label for="checkbox7"></label>
                    <p>complete Todo app on front-end mentor</p>
                </div>
                <div class="adress-bar">
                    <div class="items-left status">
                        <p>5 items left </p>
                    </div>
                    <div class="todo-status">
                        <div class="all status">
                            <p>All </p>
                        </div>
                        <div class="active status">
                            <p> Active </p> 
                        </div>
                        <div class="complete status">
                            <p>Completed</p> 
                        </div>
                    </div>
                    <div class="delete status">
                        <p>Clear Completed</p>
                    </div>
                </div>
               
            </article>
            <footer>
                <p>Drag and drop to reorder list</p>
            </footer>
        </section>
    </main>
</body>
</html>